@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-container {
        @apply max-w-[90vw] md:max-w-[40rem] lg:max-w-[64rem];
    }
}

/* Tail wind drop-shadow does not work in Header.tsx use this instead */
.shadow {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.4);
}

/* Scrollbar Styles */
body {
    overflow: overlay;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #404244 transparent;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    transition: all 300ms ease-in-out;
    background-color: #404244;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #606264;
}

/* Hamburger Button */
.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50px;
    height: 50px; */
    /* margin-right: calc(-1 * 5vw); */
    padding: 10px 0;
}

.barBox {
    position: relative;
    width: 28px;
    height: 28px;
}

.bar {
    height: 2px;
    width: 100%;
    border-radius: 2px;
    background-color: #13d5bb;
    position: absolute;
    top: calc(50% - 1px);
    transform-origin: center;
    transition: transform 250ms ease-in-out, width 250ms ease-in-out, opacity 250ms ease-in-out;
}

.top {
    transform: translateY(-9px);
}

.bottom {
    transform: translateY(9px);
}

.isOpen .top,
.isOpen .middle,
.isOpen .bottom {
    width: 16px;
}

.isOpen .middle {
    transform: translateX(50%) scaleX(0);
    opacity: 0;
}

.isOpen .top {
    transform: translateX(5px) rotate(45deg);
}

.isOpen .bottom {
    transform: translateX(5px) rotate(-45deg);
}

/* Logo Icon */
.fill {
    fill: #c8c9cc;
    fill-opacity: 0;
    stroke-opacity: 0;
    stroke-width: 1;
    stroke: #c8c9cc;
}

.left,
.right,
.slash {
    opacity: 0;
    fill: #10ad98;
}

/* 
    Poppins 
*/
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: auto;
}

/* 
    Poppins Italic 
*/
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
        url('/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: auto;
}

/* 
    SF Mono 
*/
@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), local('sf mono'),
        url('/fonts/SFMono/SFMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), local('sf mono'),
        url('/fonts/SFMono/SFMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), local('sf mono'),
        url('/fonts/SFMono/SFMono-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}

/* 
    SF Mono Italic 
*/
@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), local('sf mono'),
        url('/fonts/SFMono/SFMono-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), local('sf mono'),
        url('/fonts/SFMono/SFMono-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'SF Mono';
    src: local('SF Mono'), local('sf mono'),
        url('/fonts/SFMono/SFMono-SemiboldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: auto;
}
